# Database
DATABASE_URL="postgresql://user:password@host:5432/database?sslmode=require&channel_binding=require&statement_cache_size=0&pgbouncer=true"

# Server
PORT=3000
APP_URL="http://localhost:3000"
FRONTEND_URL="http://localhost:5173"
NODE_ENV=development

# JWT
JWT_SECRET="your-secret-key-here"

# Email
EMAIL_HOST="smtp.gmail.com"
EMAIL_PORT=587
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-app-password"
EMAIL_FROM="your-email@gmail.com"

# RAWG API
RAWG_API_KEY="your-api-key"
